# don't track coverage or vunit output
profile/
coverage/
vunit_out/

# also we don't need lcov's output
*.gcno

# neither add ghdl objects
src/**.cf

# don't track tag-file
tags

# don't track editor/linter config
setup.cfg
hdl-prj.json
*vhdl_ls.toml
vhdltool-config.yaml


# ignore neomakes tmp-files
*@neomake*
